In [4]:
import pandas as pd

df = pd.read_csv("../data/car_evaluation.csv")

In [17]:
# 데이터프레임의 구조를 파악하기 위한 코드를 3개 이상 작성한다.
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   price              1728 non-null   object
 1   maintenance cost   1728 non-null   object
 2   number of doors    1728 non-null   object
 3   number of persons  1728 non-null   object
 4   lug boot           1728 non-null   object
 5   safety             1728 non-null   object
 6   class              1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [13]:
# 각 열에 존재하는 고유값의 개수를 출력한다.
df.nunique()

price                4
maintenance cost     4
number of doors      4
number of persons    3
lug boot             3
safety               3
class                4
dtype: int64

In [14]:
# 아래 열에 존재하는 고유값 목록을 출력한다.
# number of doors
# number of persons
# price
# class
num_door_df = df["number of doors"].unique()
num_person_df = df["number of persons"].unique()
price_df = df["price"].unique()
class_df = df["class"].unique()
print(num_door_df, num_person_df, price_df, class_df)

['2' '3' '4' '5more'] ['2' '4' 'more'] ['vhigh' 'high' 'med' 'low'] ['unacc' 'acc' 'vgood' 'good']

In [20]:
# 아래 열에 존재하는 고유값들의 비중을 출력한다.
# number of doors
# number of persons
# price
# class
df["number of doors"].value_counts(normalize=True)
df["number of persons"].value_counts(normalize=True)
df["price"].value_counts(normalize=True)
df["class"].value_counts(normalize=True)

class
unacc    0.700231
acc      0.222222
good     0.039931
vgood    0.037616
Name: proportion, dtype: float64

In [ ]:
# 아래 열들을 범주형 데이터 타입으로 변환한다. 또한, 아래 대소관계를 지켜야한다.
# number of doors : 5more > 4 > 3 > 2
# number of persons : more > 4 > 2
# price: vhigh > high > med > low
# 1. 범주형 데이터 목록
# price의 순서
orders = ["low", "med", "high", "vhigh"]
# 2. 변환할 열
column = df["price"]

# 범주형 자료형데이터 생성
df["price"] = pd.Categorical(
    values=column,
    categories=orders,
    ordered=True,
)

In [23]:

# 1. 범주형 데이터 목록
# class의 순서
orders = ["unacc", "acc", "good", "vgood"]
# 2. 변환할 열
column = df["class"]

# 범주형 자료형데이터 생성
df["class"] = pd.Categorical(
    values=column,
    categories=orders,
    ordered=True,
)

In [24]:
# class 기준 내림차순 price 기준 오름차순으로 정렬하고, 출력한다.

# sort_values() 활용 정렬
# 조건 열이 2개 이상은 by에 리스트를 입력
df.sort_values(by=["class", "price"], ascending=[False, True])

,price,maintenance cost,number of doors,number of persons,lug boot,safety,class
1421,low,high,2,4,big,high,vgood
1430,low,high,2,more,big,high,vgood
1448,low,high,3,4,big,high,vgood
1454,low,high,3,more,med,high,vgood
1457,low,high,3,more,big,high,vgood
...,...,...,...,...,...,...,...
420,vhigh,low,5more,4,big,low,unacc
423,vhigh,low,5more,more,small,low,unacc
424,vhigh,low,5more,more,small,med,unacc
426,vhigh,low,5more,more,med,low,unacc
429,vhigh,low,5more,more,big,low,unacc

In [25]:
# price 기준 오름차순 class 기준 내림차순으로 정렬하고, 출력한다.

# sort_values() 활용 정렬
# 조건 열이 2개 이상은 by에 리스트를 입력
df.sort_values(by=["class", "price"], ascending=[True, False])

,price,maintenance cost,number of doors,number of persons,lug boot,safety,class
0,vhigh,vhigh,2,2,small,low,unacc
1,vhigh,vhigh,2,2,small,med,unacc
2,vhigh,vhigh,2,2,small,high,unacc
3,vhigh,vhigh,2,2,med,low,unacc
4,vhigh,vhigh,2,2,med,med,unacc
...,...,...,...,...,...,...,...
1700,low,low,4,more,big,high,vgood
1715,low,low,5more,4,med,high,vgood
1718,low,low,5more,4,big,high,vgood
1724,low,low,5more,more,med,high,vgood
1727,low,low,5more,more,big,high,vgood