In [11]:
# 12 pivot
import pandas as pd
import random

random.seed(0)

num_rows = 20
data = {
    "지점": ["학여울역점", "강남역점", "건대역점", "홍대역점", "삼성역점"] * 4,
    "제품": [
        item for item in ["노트북", "스마트폰", "냉장고", "세탁기"] for _ in range(5)
    ],
    "판매량": [random.randint(100, 500) for _ in range(num_rows)],
    "매출": [random.randint(1000, 5000) for _ in range(num_rows)],
}

df = pd.DataFrame(data)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지점      20 non-null     object
 1   제품      20 non-null     object
 2   판매량     20 non-null     int64
 3   매출      20 non-null     int64
dtypes: int64(2), object(2)
memory usage: 772.0+ bytes

In [13]:
df.head(15)

       지점    제품  판매량    매출
0   학여울역점   노트북  297  4274
1    강남역점   노트북  488  2026
2    건대역점   노트북  315  4726
3    홍대역점   노트북  120  3181
4    삼성역점   노트북  232  3888
5   학여울역점  스마트폰  361  4318
6    강남역점  스마트폰  348  3465
7    건대역점  스마트폰  307  4695
8    홍대역점  스마트폰  255  1601
9    삼성역점  스마트폰  344  2270
10  학여울역점   냉장고  283  1404
11   강남역점   냉장고  398  3989
12   건대역점   냉장고  211  1302
13   홍대역점   냉장고  358  4681
14   삼성역점   냉장고  171  4483

In [14]:
# 지점 - "행"
# 제품 - "열"
# 값(셀) - "판매량"
# Dataframe.pivot(index, columns, values)

df.pivot(index="지점", columns="제품", values=["판매량", "매출"])

# 행과 열에 중복 데이터 X

       판매량                   매출
제품     냉장고  노트북  세탁기 스마트폰   냉장고   노트북   세탁기  스마트폰
지점
강남역점   398  488  171  348  3989  2026  2352  3465
건대역점   211  315  486  307  1302  4726  2933  4695
삼성역점   171  232  416  344  4483  3888  1412  2270
학여울역점  283  297  244  361  1404  4274  3801  4318
홍대역점   358  120  148  255  4681  3181  3292  1601

In [15]:
import pandas as pd
import random

random.seed(0)

num_rows = 10000
data = {
    "지점": [
        random.choice(["학여울역점", "강남역점", "건대역점", "홍대역점", "삼성역점"])
        for _ in range(num_rows)
    ],
    "제품": [
        random.choice(["노트북", "스마트폰", "냉장고", "세탁기", "건조기"])
        for _ in range(num_rows)
    ],
    "판매량": [random.randint(100, 500) for _ in range(num_rows)],
    "매출": [random.randint(1000, 5000) for _ in range(num_rows)],
}

df = pd.DataFrame(data)

In [20]:
# 지점에 대한 제품의 판매량 평균

df.pivot_table(index="지점", columns="제품", values="판매량", aggfunc="mean")

제품            건조기         냉장고         노트북         세탁기        스마트폰
지점
강남역점   305.785714  295.175487  296.698376  305.847328  292.360000
건대역점   293.139024  299.735802  304.928406  304.324742  299.821705
삼성역점   305.521739  300.927007  289.262467  306.812155  301.449315
학여울역점  305.392683  296.428198  306.158690  309.103448  307.943902
홍대역점   294.000000  303.141388  306.990453  287.258065  289.748235

In [22]:
# 각 지점에 대한 제품의 판매량 합계

df.pivot_table(index="지점", columns="제품", values="판매량", aggfunc="sum").loc[
    "강남역점"
]

제품
건조기     124149
냉장고     105968
노트북     127877
세탁기     120198
스마트폰    124253
Name: 강남역점, dtype: int64

In [24]:
# 열(columns) 지정이 필수가 아냥

df.pivot_table(index="지점", values="판매량", aggfunc="sum")

          판매량
지점
강남역점   602445
건대역점   607723
삼성역점   588498
학여울역점  612041
홍대역점   592978

In [26]:
# 여러개의 index와 여러개의 values 지정
# 리스트 []에 저장해서 지정
df.pivot_table(index=["지점", "제품"], values=["판매량", "매출"], aggfunc="min")

              매출  판매량
지점    제품
강남역점  건조기   1007  101
      냉장고   1006  104
      노트북   1003  100
      세탁기   1006  100
      스마트폰  1013  100
건대역점  건조기   1011  102
      냉장고   1007  100
      노트북   1016  100
      세탁기   1013  100
      스마트폰  1005  101
삼성역점  건조기   1006  101
      냉장고   1003  100
      노트북   1002  100
      세탁기   1004  101
      스마트폰  1004  101
학여울역점 건조기   1017  101
      냉장고   1001  100
      노트북   1001  100
      세탁기   1002  100
      스마트폰  1017  100
홍대역점  건조기   1037  100
      냉장고   1003  100
      노트북   1010  100
      세탁기   1007  100
      스마트폰  1027  100

In [28]:
# groupby 와 유사
# ㄴ결과값이 다름
# groupby : dtype(시리즈), 필터가 가능 , 그룹화가 목적
# pivot : dtype(데이터프레임), ondition 으로 가능? , 재구조화(행/열/값)가 목적

In [33]:
pivot_df =pd.read_csv("../data/vgsales (1).csv")
pivot_df.head(10)

,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date
0,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17
1,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,9.7,19.39,6.06,0.60,9.71,3.02,2014-11-18
2,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,9.6,16.15,8.41,0.47,5.49,1.78,2002-10-28
3,Grand Theft Auto V,X360,Action,Rockstar Games,Rockstar North,NaN,15.86,9.06,0.06,5.33,1.42,2013-09-17
4,Call of Duty: Black Ops 3,PS4,Shooter,Activision,Treyarch,8.1,15.09,6.18,0.41,6.05,2.44,2015-11-06
5,Call of Duty: Modern Warfare 3,X360,Shooter,Activision,Infinity Ward,8.7,14.82,9.07,0.13,4.29,1.33,2011-11-08
6,Call of Duty: Black Ops,X360,Shooter,Activision,Treyarch,8.8,14.74,9.76,0.11,3.73,1.14,2010-11-09
7,Red Dead Redemption 2,PS4,Action-Adventure,Rockstar Games,Rockstar Games,9.8,13.94,5.26,0.21,6.21,2.26,2018-10-26
8,Call of Duty: Black Ops II,X360,Shooter,Activision,Treyarch,8.4,13.86,8.27,0.07,4.32,1.20,2012-11-13
9,Call of Duty: Black Ops II,PS3,Shooter,Activision,Treyarch,8.0,13.80,4.99,0.65,5.88,2.28,2012-11-13

In [47]:
# 플랫폼을 기준으로 전 세계 판매량의 합계를 계산
result = pivot_df.pivot_table(index="console", values="total_sales", aggfunc="sum")

# PS 행 데이터 선택
result.loc["PS"]

total_sales    546.25
Name: PS, dtype: float64

In [50]:
# 장르를 기준으로 전 세계 판매량의 평균 계산
# 데이터프레임은 열이 1개라도 정렬을 할 때 기준 열(by) 작성이 필요하다.
pivot_df.pivot_table(index="genre", values="total_sales", aggfunc="mean").sort_values(
    by="total_sales"
)
# Series 객체는 기준 열(by) 가 없어도 정렬이 가능하다.
pivot_df.groupby("genre")["total_sales"].mean().sort_values()

genre
Visual Novel        0.026514
Board Game          0.110000
Strategy            0.144280
Adventure           0.171891
Puzzle              0.176044
Party               0.214138
Education           0.242500
Simulation          0.268198
Misc                0.278338
Role-Playing        0.286251
MMO                 0.310333
Music               0.352041
Platform            0.367140
Racing              0.367400
Fighting            0.391653
Action              0.396580
Sports              0.457262
Action-Adventure    0.562576
Shooter             0.670370
Sandbox             1.890000
Name: total_sales, dtype: float64

In [51]:
pivot_df.pivot_table(index="genre",columns="console", values="total_sales", aggfunc="mean")

console,2600,3DO,3DS,DC,DS,GB,GBA,GBC,GC,GEN,...,SNES,VC,WS,WW,Wii,WiiU,X360,XB,XBL,XOne
genre,,,,,,,,,,,,,,,,,,,,,
Action,0.462540,NaN,0.146637,0.060000,0.211165,0.620000,0.240058,NaN,0.230494,1.037500,...,0.154000,NaN,NaN,NaN,0.357022,0.211154,0.694850,0.298571,0.075,0.457647
Action-Adventure,NaN,NaN,0.242581,NaN,0.190000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.362500,0.285200,0.910741,0.710000,NaN,0.509000
Adventure,NaN,0.06,0.115000,0.132000,0.197147,0.260000,0.362037,1.89,0.247097,0.095000,...,0.375000,NaN,NaN,NaN,0.289174,0.100000,0.419545,0.169333,NaN,0.103714
Board Game,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.020000,NaN,NaN,NaN
Education,NaN,NaN,0.090000,NaN,NaN,NaN,NaN,NaN,0.120000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.520000,NaN,NaN,NaN
Fighting,0.620000,0.09,0.160714,0.135455,0.171892,NaN,0.161923,NaN,0.277500,1.110000,...,0.540476,0.000,NaN,NaN,0.231957,0.130000,0.576462,0.246042,0.010,0.343125
MMO,NaN,NaN,0.170000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.156667,NaN,NaN,NaN,0.543333
Misc,0.255000,NaN,0.116667,NaN,0.151187,0.565000,0.287692,NaN,0.193103,0.030000,...,0.141875,NaN,NaN,0.25,0.421031,0.246000,0.418406,0.206889,0.000,0.565000
Music,NaN,NaN,0.177778,NaN,NaN,NaN,0.300000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.790435,0.296923,0.470000,NaN,NaN,0.350769
Party,NaN,NaN,0.345714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.400000,0.221667,0.220000,0.090000,NaN,0.050000
Platform,1.096250,NaN,0.230000,1.270000,0.260400,0.185000,0.354600,NaN,0.251159,0.917500,...,0.384706,0.005,NaN,NaN,0.350213,0.215625,0.520000,0.196327,0.005,0.193810
Puzzle,0.713333,0.02,0.170909,NaN,0.148413,0.385714,0.217600,NaN,0.356667,NaN,...,0.490769,NaN,NaN,NaN,0.146000,0.097143,0.154545,0.066667,NaN,0.073333
Racing,0.638000,NaN,0.169167,0.441667,0.191806,NaN,0.165467,NaN,0.215000,0.260000,...,0.268571,NaN,NaN,0.00,0.232202,0.170000,0.587345,0.222742,0.030,0.254310
Role-Playing,NaN,NaN,0.236623,0.170000,0.165105,0.442727,0.284032,0.56,0.213182,0.087500,...,0.260833,0.000,0.305,NaN,0.216923,0.540000,0.868000,0.559048,NaN,0.428235
Sandbox,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Shooter,0.918400,NaN,0.107143,0.110000,0.155435,NaN,0.078511,NaN,0.196122,0.130000,...,0.178750,NaN,NaN,NaN,0.336061,0.189000,1.145297,0.352932,0.000,1.389538
Simulation,NaN,0.02,0.221321,0.520000,0.264214,0.710000,0.250000,NaN,0.456923,NaN,...,0.358571,NaN,NaN,NaN,0.355056,NaN,0.274500,0.275926,NaN,0.124286
Sports,0.285833,NaN,0.228710,0.366000,0.184157,0.410000,0.159612,NaN,0.179182,1.066667,...,0.364694,0.170,NaN,NaN,0.341296,0.397778,0.592815,0.308068,NaN,0.717647
Strategy,NaN,NaN,0.103333,NaN,0.179125,0.410000,0.290000,NaN,0.165556,0.190000,...,0.272857,NaN,0.070,NaN,0.187727,0.010000,0.222857,0.136000,NaN,0.063529
Visual Novel,NaN,NaN,0.018000,NaN,0.010000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.025000,NaN,NaN,0.020000

In [54]:
# 장르와 플랫폼에 대한 전세계판매량과 북미 판매량의 평균과 합 피봇 테이블
pivot_df.pivot_table(
    index="genre",
    columns="console",
    values=["total_sales", "na_sales"],
    aggfunc=["mean", "sum"],
)

                      mean                                                   \
                  na_sales
console               2600       3DS    DC        DS    GB       GBA    GBC
genre
Action            0.431746  0.139189   NaN  0.203095  0.94  0.173697    NaN
Action-Adventure       NaN  0.128462   NaN  0.270000   NaN       NaN    NaN
Adventure              NaN  0.085556   NaN  0.207314   NaN  0.273864  0.895
Board Game             NaN       NaN   NaN       NaN   NaN       NaN    NaN
Education              NaN  0.080000   NaN       NaN   NaN       NaN    NaN
Fighting          0.580000  0.086667   NaN  0.108500   NaN  0.116000    NaN
MMO                    NaN       NaN   NaN       NaN   NaN       NaN    NaN
Misc              0.235000  0.126250   NaN  0.159654   NaN  0.200957    NaN
Music                  NaN  0.160000   NaN       NaN   NaN       NaN    NaN
Party                  NaN  0.164000   NaN       NaN   NaN       NaN    NaN
Platform          1.021250  0.134444  1.26  0.196835   NaN  0.228043    NaN
Puzzle            0.664444  0.137857   NaN  0.118632   NaN  0.150952    NaN
Racing            0.598000  0.122000  1.10  0.147879   NaN  0.119589    NaN
Role-Playing           NaN  0.137200   NaN  0.154066   NaN  0.190000    NaN
Sandbox                NaN       NaN   NaN       NaN   NaN       NaN    NaN
Shooter           0.857200  0.061667   NaN  0.143415   NaN  0.052500    NaN
Simulation             NaN  0.170476   NaN  0.230290   NaN  0.165500    NaN
Sports            0.268333  0.091500  1.07  0.138857  0.90  0.110860    NaN
Strategy               NaN  0.120000   NaN  0.166471   NaN  0.205385    NaN
Visual Novel           NaN  0.030000   NaN       NaN   NaN       NaN    NaN

                                                ...         sum               \
                                                ... total_sales
console                 GC       GEN       N64  ...        WiiU WinP    X360
genre                                           ...
Action            0.174938  1.415000  0.218235  ...        5.49  0.0  161.90
Action-Adventure       NaN       NaN       NaN  ...        7.13  NaN   24.59
Adventure         0.181935       NaN  0.076667  ...        0.30  0.0   27.69
Board Game             NaN       NaN       NaN  ...         NaN  NaN    0.02
Education         0.090000       NaN       NaN  ...        0.00  NaN    0.52
Fighting          0.209063  1.586667  0.460400  ...        0.52  NaN   37.47
MMO                    NaN       NaN       NaN  ...        0.47  NaN     NaN
Misc              0.149259       NaN  0.269000  ...        3.69  0.0   57.74
Music                  NaN       NaN       NaN  ...        3.86  NaN    9.40
Party                  NaN       NaN       NaN  ...        1.33  NaN    0.22
Platform          0.192500  1.130000  0.227727  ...        3.45  0.0   17.16
Puzzle            0.239091       NaN  0.200909  ...        0.68  0.0    1.70
Racing            0.158226       NaN  0.234565  ...        0.85  0.0   66.37
Role-Playing      0.154762       NaN  0.180000  ...        2.16  NaN   65.10
Sandbox                NaN       NaN       NaN  ...         NaN  NaN     NaN
Shooter           0.148571       NaN  0.301818  ...        1.89  0.0  231.35
Simulation        0.348182       NaN  0.183333  ...        0.00  0.0   10.98
Sports            0.142596  1.350000  0.288095  ...        3.58  NaN  141.09
Strategy          0.121250       NaN  0.110000  ...        0.02  0.0    6.24
Visual Novel           NaN       NaN       NaN  ...         NaN  NaN    0.25



console              XB   XBL   XOne   XS  ZXS  iOS iQue
genre
Action            41.80  0.15  46.68  0.0  0.0  0.0  0.0
Action-Adventure   0.71  0.00  20.36  0.0  NaN  0.0  NaN
Adventure          7.62  0.00   3.63  0.0  NaN  0.0  0.0
Board Game          NaN   NaN   0.00  0.0  NaN  NaN  NaN
Education           NaN   NaN   0.00  NaN  NaN  NaN  NaN
Fighting          11.81  0.01   5.49  0.0  NaN  NaN  0.0
MMO                 NaN   NaN   1.63  0.0  NaN  NaN  NaN
Misc               9.31  0.00   9.04  0.0  0.0  0.0  NaN
Music              0.00   NaN   4.56  0.0  NaN  0.0  NaN
Party              0.09   NaN   0.05  0.0  NaN  NaN  NaN
Platform           9.62  0.01   4.07  0.0  0.0  0.0  0.0
Puzzle             0.40  0.00   0.44  0.0  NaN  0.0  0.0
Racing            27.62  0.03  14.75  0.0  NaN  0.0  0.0
Role-Playing      11.74  0.00  14.56  0.0  NaN  0.0  0.0
Sandbox             NaN  0.00   0.00  NaN  NaN  NaN  NaN
Shooter           46.94  0.00  90.32  0.0  NaN  0.0  0.0
Simulation         7.45  0.00   3.48  0.0  NaN  0.0  0.0
Sports            54.22  0.00  48.80  0.0  NaN  0.0  NaN
Strategy           2.72  0.00   1.08  0.0  NaN  0.0  NaN
Visual Novel        NaN   NaN   0.02  0.0  NaN  0.0  NaN

[20 rows x 232 columns]